/**
 * Input errors
 */
input.bring-error-input.input-text {
  border: 1px solid;
  border-bottom-width: 2px;
}

span.bring-error-message {
  font-size: .8em;
}

/**
 * Setting up the colours for the errors
 */
[class*="bring-"] {
  --error-color: #F44336;
}

.bring-enter-postcode form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bring-enter-postcode form label {
  flex: 1 0 100%;
}

.bring-search-box {
  display: flex;
}

.bring-input {
  margin-right: 1rem;
}

@supports ((--variable: style)) {
  .bring-enter-postcode.bring-error,
  input.bring-error-input.input-text {
	border-color: var(--error-color, red) !important;
  }

  span.bring-error-message {
	color: var(--error-color, red) !important;
  }

  .bring-button::after {
	content: "❗️";
  }
}

/**
 * Pick-up points
 */
.bring_pickup_point {
  font-size: small;
  display: inline-block;
  width: 100%;
}

/**
 * Alternative Delivery Dates
 */
.bring-fraktguiden-date-options {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;

  &__inner {
	display: flex;
	flex-direction: column;
  }
}

.alternative-date-range__item,
.alternative-date-items__label,
.alternative-date-item {
  padding: 1rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  flex: 0 0 5rem;
}

.alternative-date-items__label,
.alternative-date-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alternative-date-range {
  display: flex;
  padding-left: 5.5rem;
  margin: 0.5rem 0 0 0;

  &__item {
	padding: 0 0.5rem;
  }

  &__day {
	font-weight: 700;
  }
}

.alternative-date-items {
  &__row {
	display: flex;
	padding: 0.5rem 0.375rem;
  }

  &__label {
	position: sticky;
	left: 0;
	background: #fff;
  }
}

.alternative-date-item {
  position: relative;
  border-radius: 0.5rem;

  &--choice {
	background: #FEE;
	transition: background-color 0.2s;
	user-select: none;
	cursor: pointer;

	&:hover {
	  background: #FDD;
	}
  }

  &--chosen {
	background: #DFD;

	&:hover {
	  background: #CFC;
	}
  }

  &--empty {
	background: #EEE;
  }

  &__label {
	opacity: 1;
	transition: opacity 0.2s;
	.alternative-date-item--chosen & {
	  opacity: 0;
	}
  }

  @keyframes checkmark {
	0% {
	  stroke-dashoffset: 100px
	}
	100% {
	  stroke-dashoffset: 0px
	}
  }

  &__checkmark {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	padding: 0.75rem 1.5rem;
	justify-content: center;
	align-items: center;

	.alternative-date-item--chosen &,
	.alternative-date-item--selected & {
	  display: flex;
	}

	.alternative-date-item--selected & svg polyline {
	  animation: checkmark 0.25s ease-in-out 0.5s backwards
	}
  }
}
