/**
 * Input errors
 */
input.bring-error-input.input-text {
	border: 1px solid;
	border-bottom-width: 2px;
}

span.bring-error-message {
	font-size: .8em;
}

/**
 * Setting up the colours for the errors
 */
[class*="bring-"] {
	--error-color: #F44336;
}

.bring-enter-postcode form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.bring-enter-postcode form label {
	flex: 1 0 100%;
}

.bring-search-box {
	display: flex;
}

.bring-input {
	margin-right: 16px;
}

@supports ((--variable: style)) {
	.bring-enter-postcode.bring-error,
	input.bring-error-input.input-text {
		border-color: var(--error-color, red) !important;
	}

	span.bring-error-message {
		color: var(--error-color, red) !important;
	}

	.bring-button::after {
		content: "❗️";
	}
}

/**
 * Pick-up points
 */
.bring_pickup_point {
	font-size: small;
	display: inline-block;
	width: 100%;
}

/**
 * Alternative Delivery Dates
 */
.bring-fraktguiden-date-options {
	margin-top: 16px;
	margin-bottom: 16px;

	&__inner {
		display: flex;
		flex-direction: column;
		overflow: auto;
	}
}

.alternative-date-range__item,
.alternative-date-items__label,
.alternative-date-item {
	padding: 16px;
	margin-left: 2px;
	margin-right: 2px;
	flex: 0 0 80px;
}

.alternative-date-items__label,
.alternative-date-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.alternative-date-range {
	display: flex;
	padding-left: 88px;
	margin: 8px 0 0 0;

	&__item {
		padding: 0 8px;
	}

	&__day {
		font-weight: 700;
	}
}

.alternative-date-items {
	&__row {
		display: flex;
		padding: 8px 6px;
	}

	&__label {
		position: sticky;
		left: 0;
		background: #fff;
		z-index: 20;
	}
}

.alternative-date-item {
	position: relative;
	border-radius: 4px;
	border: 1px solid transparent;

	&--choice {
		color: #666;
		border: 1px solid #eee;
		background: #FFF;
		transition: color, background-color 0.2s;
		user-select: none;
		cursor: pointer;

		&:hover {
			color: #2e2e2e;
			border-color: #b4b4b4;
			border-style: dashed;
		}
	}

	&--chosen {
		background: #80c077;
		border-color: transparent;
		cursor: default;

		&:hover {
			background: #68be5c;
			border-color: #3b8930;
		}
	}

	&--empty {
		background: #EEE;
	}

	&__label {
		opacity: 1;
		transition: opacity 0.2s;

		.alternative-date-item--chosen & {
			opacity: 0;
		}
	}

	@keyframes checkmark {
		0% {
			stroke-dashoffset: 100px
		}
		100% {
			stroke-dashoffset: 0px
		}
	}

	&__checkmark {
		position: absolute;
		top: 0;
		left: 3px;
		right: -3px;
		bottom: -2px;
		display: none;
		padding: 12px 24px;
		justify-content: center;
		align-items: center;

		.alternative-date-item--chosen &,
		.alternative-date-item--selected & {
			display: flex;
		}

		.alternative-date-item--selected & svg polyline {
			animation: checkmark 0.25s ease-in-out 0.5s backwards
		}
	}
}

.bring-fraktguiden-pick-up-point-picker {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 8px 0;
	margin: 8px 0;
}

.bfg-pup__name {
	display: inline-block;
	font-weight: 600;
}

.bfg-pup__change {
	display: inline;
	color: #e90000;
	float: right;
}

.bfg-pup__change:focus,
.bfg-pup__change:hover {
	color: #9d1d1d;
	text-decoration: underline;
	cursor: pointer;
}

.bfg-pup__change:active {
	color: #157d37;
	text-decoration: underline;
}

.bring-fraktguiden-pick-up-points-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	background: #FFFFFF;
	color: #5f5f5f;
}

.bfg-pupm__header {
	display: flex;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: -1px;
	position: sticky;
	top: 0;
	background: white;
}

.bfg-pupm__instruction {
	padding: 16px;
}

.bfg-pupm__close {
	margin-left: auto;
	font-size: 32px;
	line-height: 0.8;
	cursor: pointer;
	padding: 16px;
	border-left: 1px solid #EEEEEE;
	user-select: none;
	transition: color 0.2s;
	color: #5f5f5f;
}

.bfg-pupm__close:focus,
.bfg-pupm__close:hover {
	color: #c12a2a;
}
.bfg-pupm__close:focus {
	outline: 0;
	box-shadow: inset 0 0 0 2px #c12a2a;
}

.bfg-pupm__wrap {
	height: 100%;
}

.bfg-pupm__inner {
	max-height: 100%;
	display: flex;
	flex-direction: column;
}

.bfg-pupm__template {
	display: none;
}

.bfg-pupm__list {
	height: 100%;
	background: white;
	overflow: auto;
}

.bfg-pupm__item {
	user-select: none;
	cursor: pointer;
	padding: 8px 16px;
	border-top: 1px solid #EEEEEE;
	line-height: 1.5;
}

.bfg-pupm__item:focus {
	outline: 0;
	box-shadow: inset 0 0 0 2px #6c97c3;
	background: #f4f9fc;
	color: #163a5f;
}
.bfg-pupm__item:hover {
	background: #f4f9fc;
	color: #163a5f;
}

.bfg-pupm__name {
	font-weight: 600;
}
.bfg-pupm__item:hover .bfg-pupm__name {
	text-decoration: underline;
}

@media screen and (min-width: 767px) {
	.bring-fraktguiden-pick-up-points-modal {
		background: rgba(0, 0, 0, 0.2);
	}
	.bfg-pupm__wrap {
		display: flex;
		align-items: center;
	}
	.bfg-pupm__inner {
		border-radius: 64px;
		background: #FFFFFF;
		width: 100%;
		min-height: 320px;
		max-height: 90%;
		max-height: min(90%, 960px);
		max-width: 640px;
		margin-right: auto;
		margin-left: auto;
	}
}

.shipping ul#shipping_method li {
	margin-bottom: 16px;
}

.bring-fraktguiden-environmental-tag,
.bring-fraktguiden-logo {
	display: inline-block;
}

.woocommerce img.bring-fraktguiden-logo {
	transform: translateY(-1px);
	max-width: 73px !important;
	float: right;
}

.bring-fraktguiden-environmental {
	display: flex;
	gap: 4px;
	font-size: 14px;
	align-items: start;
}

.bring-fraktguiden-environmental .environmental-logo {
	transform: translateY(3px);
	max-width: 16px !important;
}

.shipping ul#shipping_method label {
	color: #4a4a4a;
	font-weight: 600;
}

.bring-fraktguiden-logo,
.bring-fraktguiden-description,
.bring-fraktguiden-environmental,
.bring-fraktguiden-eta {
	cursor: default;
}

@media screen and (min-width: 767px) {
}
