.bring-fraktguiden-pick-up-points-modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	background: #FFFFFF;
	color: #5f5f5f;
}
.bring-fraktguiden-pick-up-points-modal.open {
	display: block;
}

.bfg-pupm__header {
	display: flex;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: -1px;
	position: sticky;
	top: 0;
	background: white;
}

.bfg-pupm__instruction {
	font-size: 1rem;
	padding: 16px;
}

.bfg-pupm__close {
	margin-left: auto;
	font-size: 32px;
	line-height: 0.8;
	cursor: pointer;
	padding: 16px;
	border-left: 1px solid #EEEEEE;
	user-select: none;
	transition: color 0.2s;
	color: #5f5f5f;
}

.bfg-pupm__close:focus,
.bfg-pupm__close:hover {
	color: #c12a2a;
}
.bfg-pupm__close:focus {
	outline: 0;
	box-shadow: inset 0 0 0 2px #c12a2a;
}

.bfg-pupm__wrap {
	height: 100%;
}

.bfg-pupm__inner {
	max-height: 100%;
	display: flex;
	flex-direction: column;
}

.bfg-pupm__template {
	display: none;
}

.bfg-pupm__list {
	height: 100%;
	background: white;
	overflow: auto;
}

.bfg-pupm__item {
	user-select: none;
	cursor: pointer;
	padding: 8px 16px;
	border-top: 1px solid #EEEEEE;
	line-height: 1.5;
}

.bfg-pupm__item:focus {
	outline: 0;
	box-shadow: inset 0 0 0 2px #6c97c3;
	background: #f4f9fc;
	color: #163a5f;
}
.bfg-pupm__item:hover {
	background: #f4f9fc;
	color: #163a5f;
}

.bfg-pupm__name {
	font-weight: 600;
}
.bfg-pupm__item:hover .bfg-pupm__name {
	text-decoration: underline;
}

@media screen and (min-width: 767px) {
	.bring-fraktguiden-pick-up-points-modal {
		background: rgba(0, 0, 0, 0.2);
	}
	.bfg-pupm__wrap {
		display: flex;
		align-items: center;
	}
	.bfg-pupm__inner {
		border-radius: 12px;
		overflow: hidden;
		background: #FFFFFF;
		width: 100%;
		min-height: 320px;
		max-height: 90%;
		max-height: min(90%, 960px);
		max-width: 640px;
		margin-right: auto;
		margin-left: auto;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}
}
