/** Booking awaiting shipment status icon */
mark.bring-shipment:after {
	font-family: WooCommerce;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center
}

mark.bring-shipment:after {
	content: "\e031";
	color: #7BC144
}

.wp-core-ui .button-bring-shipment {
	background: #7BC144;
	border-color: #7BC144 #6EAD3D #6EAD3D;
	-webkit-box-shadow: 0 1px 0 #6EAD3D;
	box-shadow: 0 1px 0 #6EAD3D;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #6EAD3D, 1px 0 1px #6EAD3D, 0 1px 1px #6EAD3D, -1px 0 1px #6EAD3D;
}

.wp-core-ui .button-bring-shipment:hover {
	background: #88C757;
	border-color: #88C757;
	color: #fff;
}

.wp-core-ui .button-bring-shipment:focus {
	background: #88C757;
	border-color: #6EAD3D;
	color: #fff;
}

.bring-booking-meta-box-content {
	padding-top: 1em;
}
.bring-customer-numbers {
	max-width: 35rem;
}

.bring-customer-number {
	float: right;
	color: #CCC;
	[type="radio"]:checked + .bring-customer-name + & {
		color: black;
	}
}
.bring-customer-label {
	position: relative;
}

.bring-booking-meta-box-content-body {
	padding: 1em 1em 1em 1em;
}

.bring-booking-meta-box-content table {
	border-collapse: collapse;
}

.bring-booking-meta-box-content table td,
.bring-booking-meta-box-content table th {
	padding: 4px 8px;
}

.bring-booking-meta-box-content table td {
	border: 1px solid #e6e6e6;
	vertical-align: center;
}

.bring-booking-meta-box-content table th:first-child {
	border-radius: 4px 0 0 4px;
}

.bring-booking-meta-box-content table th:last-child {
	border-radius: 0 4px 4px 0;
}

.bring-booking-meta-box-content table th {
	background-color: #e6e6e6;
	text-align: left;
}

.bring-form-field {
	margin: 9px 0 0;
}

.bring-form-field label {
	display: block;
	padding: 0 0 3px;
	color: #777;
}

.bring-form-field .pickup-point-id-options label {
	display: inline;
}

.bring-flex-box {
	display: flex;
	flex-flow: row;
}

.bring-booking-cell .bring-flex-box {
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

.bring-info-box {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	align-items: center;
}

.bring-info-box > div:first-child {
	text-align: center;
	flex: 1.5;
}

.bring-info-box > div:last-child {
	text-align: left;
	flex: 3;
}

.bring-progress-tracker {
	width: 100%;
	flex-wrap: nowrap;
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;
}

.bring-progress-tracker > span {
	display: inline-block;
	width: 33%;
	padding: 10px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
}

.bring-progress-tracker > span:nth-child(2) {
	margin: 0 2%;
}

.bring-progress-active {
	font-weight: bold;
	border: 1px solid #DFDFDF;
	border-bottom: 1px solid white;
	padding-bottom: 11px !important;
	position: relative;
	bottom: -1px;
}

.bring-booking-parties {
	width: 100%;
	flex-wrap: wrap;

	grid-gap: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.bring-booking-parties > div {
	flex: 0 1 31.25em;
}

.bring-booking-parties table {
	width: 100%;
}

.bring-booking-parties h4 {
	margin: 0;
}

.bring-booking-parties td:first-child:not([colspan]) {
}

.bring-consignments table {
	width: 100%;
	border: 1px solid #e6e6e6;
}

.bring-consignments h4 {
	margin-top: 0;
}

.bring-consignments ul {
	margin-top: 0;
}

.bring-booking-packages {
	width: 100%;
	margin-bottom: 1em;
}

.bring-booking-packages input[type="text"].dimension {
	width: 4rem;
	outline: none;
	box-shadow: none;
	border: 1px solid #fff;
	transition: border 0.2s;
	text-align: right;
}

.bring-booking-packages input[type="text"].dimension:focus,
.bring-booking-packages tr:hover input[type="text"].dimension {
	border: 1px solid #aaa;
}

.bring-booking-packages .button {
}

.bring-booking-packages th + th ~ th,
.bring-booking-packages td + td ~ td {
	text-align: right;
}

.bring-booking-errors {
	display: inline;
	text-align: left;
}

.bring-booking-errors ul {
	list-style: disc;
	padding-left: 20px;
}

.bring-booking-footer {
	margin: 12px 0 0 0;
	text-align: right;
}

.bring-booking-status-icon {
	background-color: #42a2ce;
	border-radius: 20rem;
	color: #fff;
	display: inline-block;
}

.bring-info-box .bring-booking-status-icon {
	border: 5px solid #50b1d8;
}

.bring-booking-status-icon::before {
	display: inline-block;
	position: relative;
}

.bring-booking-status-icon.dashicons-yes::before {
	left: -1px;
}

.bring-info-box .bring-booking-status-icon.dashicons-yes::before {
	left: -3px;
	top: 3px;
}

.bring-booking-status-icon.dashicons-warning {
	background-color: #ff645c;
	border-color: #f44336;
	border-radius: 3px;
	box-shadow:0 20px 20px -22px #000;
}

.bring-booking-status-icon.dashicons-minus {
	color: #7BC144;
	background-color: transparent;
	border: 2px solid;
}

.manage-column.column-bring_booking_status,
.column-bring_booking_status {
	text-align: center;
}

.column-bring_booking_status {
	padding-top: 15px !important;
}

.fraktguiden-services-table-col-enabled,
.fraktguiden-services-table-col-free-shipping,
.fraktguiden-services-table-col-free-shipping-threshold,
.fraktguiden-services-table-col-custom-price {
	text-align: left !important;
	width: 1em !important;
}

.fraktguiden-services-table-col-free-shipping-threshold input[type="text"],
.fraktguiden-services-table-col-custom-price input[type="text"] {
	width: 4.5em;
}





/**
 * Separate admin sections require separation
 */

.bring-list-tracking-numbers {
	list-style: none;
	margin: 0;
}

.bring-list-tracking-numbers li:only-child {
	margin-bottom: 0;
}

.bring-separate-admin-section {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #ccc;
}

@media ( min-width: 50em ) {
	.bring-separate-admin-section {
	margin-top: 3em;
	padding-top: 3em;
	}
}

.bring-form-field {}

.bring-form-field .error {
	border-left: 10px solid red;
	padding-left: 10px;
	font-weight: bold;
}
